.panel-container {
    display: flex;
}

.panel {
    flex: 1;
    /* Each panel takes up equal width */
    padding: 20px;
    row-gap: 10px;
    /* Add some padding for spacing */
}

.panel-contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

i {
    cursor: pointer;
}